/*
div {
    border: 1px;
    border-color: black;
    border-style: solid;
}
*/
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}



label {
    display: block;
    margin-bottom: 100px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #b9a5a5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c0c0c;
}

body {
    background-color: #faf9f6;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #533223;
}

li {
    float: center;
}

li a {
    display: block;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #533223;
}

.active {
    background-color: #7F2C24;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Dogra&display=swap');

header {
    background-image: url("julia.m2.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;

}


header h1 {
    font-size: 45px;
    text-align: center;
    color: #533223;
    margin: 0px;
    font-family: "Noto Serif Dogra", serif;

}

.navbar {
    width: 100%;
    /* Leveys 100% */
    position: fixed;
    /* Kiinnitetään palkki ylös */
    top: 0;
    /* Yläreuna */
    left: 0;
    /* Vasemman reunan kiinnitys */
    z-index: 1000;
    /* Varmistaa, että palkki on päällä muista elementeistä */
}

.content {
    width: 90%;
    margin: auto;
    font-size: 18px;

}
}

section {
    width: 90%;
    margin: auto;
    font-size: 20px;
}

.lead {
    font-size: 30px;
    font-family: sans-serif;
}

.quote {
    font-size: 40px;
    text-align: center;
    padding: 70px;
}

section img {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

footer p {
    background-color: #462722(13, 13, 13);
    margin-top: 40px;
}

footer p {
    color: #462722(248, 248, 244);
    text-align: center;
    padding: 10px
}

@media only screen and (min-width: 650px) {
    .content {
        width: 75%;
    }

    .header h1 {
        padding: 10px 200px 1px 50px;
        text-align: center;
    }

    .quote {
        font-size: 30px;


    }

    @media only screen and (min-width: 1025px) {
        .content {
            width: 70%;
        }

        .header h1 {
            font-size: 80px;
            padding: 10px 200px 1px 50px;
        }